<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Employee App</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="home" routerLinkActive="active">Home</a>
            <a class="nav-item nav-link" routerLink="employees">Employee</a>
        </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://github.com/germanisaev" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a class="nav-item nav-link" href="https://il.linkedin.com/in/german-isaev-6933633b" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="nav-item nav-link" href="https://www.facebook.com/german.isaev.3/" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
    </div>
</nav>